$accent-color:  #FCD54C;
$default-color1: #272727;
$default-color2: #E8E8E8;
$text-color: #929292;

%WorkSans-300 {
  font-family: 'WorkSans-Light', sans-serif;
  font-weight: 300;
}
%WorkSans-400 {
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: 400;
}
%WorkSansMediumItalic-500 {
  font-family: 'WorkSans-MediumItalic', sans-serif;
  font-weight: 500;
}
%WorkSans-500 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-weight: 500;
}

%WorkSansSemiBoldItalic-600 {
  font-family: 'WorkSans-SemiBoldItalic', sans-serif;
  font-weight: 600;
}
%WorkSans-600 {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-weight: 600;
}

%WorkSans-700 {
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
}

%AdventPro-400 {
  font-family: 'AdventPro-Regular', sans-serif;
  font-weight: 400;
}

%SpaceGrotesk-700 {
  font-family: 'SpaceGrotesk-Bold', sans-serif;
  font-weight: 700;
}



